.lpv2 {
    .hero-section {
        background-image: unset;

        &::before {
            all: unset;
        }
    }

    .hero-section .row {
        flex-wrap: nowrap;
    }

    .hero-section .hero-content {
        align-items: start;
        flex-direction: column;
        gap: 17px;
    }

    .hero-content-wrapper {
        max-width: calc(731px - 24px);
        width: calc(60% - 24px);
    }

    .hero-section .hero-title,
    .hero-section .hero-description {
        width: 100%;
        margin-bottom: 0 !important;
    }

    .hero-section .hero-title {
        font-weight: 500;
        font-size: 70px;
        letter-spacing: -3%;
        text-transform: capitalize;
    }

    .hero-section .hero-description {
        font-weight: 400;
        font-size: 17px !important;
        color: #5a5a59;
    }

    .lpv2-icon-text {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0;

        img {
            max-width: 42px;
            width: 100%;
            height: auto;
        }
    }

    .hero-subtitle {
        font-weight: 500;
        font-size: 48px;
        text-transform: capitalize;
        letter-spacing: -3%;
        color: #6015ff;
        margin-bottom: 12px;
    }

    .hero-image-wrapper {
        max-width: calc(559px - 24px);
        width: calc(40% - 24px);
    }

    .stats-section #counter {
        margin-bottom: 0;
    }

    .schedule-section {
        padding: 64px 0;
    }

    .about-section {
        padding: 120px 0;
        background-image: url('../images/lpv2_about_pattern.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }

    .about-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

    .about-title {
        font-weight: 500;
        font-size: 50px;
        line-height: 1.2em;
        letter-spacing: -3%;
        text-transform: capitalize;
        max-width: 600px;
        color: #131313;
    }

    .about-description-wrapper {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        color: #131313;
        max-width: 1010px;
    }

    .about-person-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .github-info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-left: 15px;
        border-left: 1px solid #13131333;

        .github-name {
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0;
            color: #131313;
            margin: 0;
        }

        p {
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
            letter-spacing: 0;
            color: #131313;
            margin: 0;
        }
    }

    .services-section .nav-pills {
        background-color: #4d4d4d33;
        border-radius: 42px;
        max-width: 331px;
        width: 30%;
        backdrop-filter: blur(54px);
        margin: 0;
    }

    .services-section .tab-content {
        max-width: 839px;
        width: 70%;
    }

    .schedule-section.skill-section .container .schedule-inner {
        margin-bottom: 0;
        padding: 60px;
        background: linear-gradient(146.64deg, #f3f4ff 2.74%, #ffffff 82.33%);
        border: 1px solid #e4e4e4;
        display: flex;
        flex-direction: column;
        gap: 52px;
    }

    .schedule-section.skill-section h2 {
        font-weight: 500;
        font-size: 50px;
        line-height: 54px;
        letter-spacing: -2%;
        color: #131313;
    }

    .schedule-section.skill-section p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: right;
        color: #131313;
        max-width: 285px;
        margin-bottom: 0;
    }

    .schedule-section.skill-section .section-title {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .schedule-section.skill-section .skill-group-wrapper {
        width: 100%;
        display: flex;

        .skill-name {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            width: 100%;
            max-width: 957px;

            p {
                padding: 16px 24px;
                border: 0.8px solid #d2d2d2;
                border-radius: 60px;
                font-weight: 500;
                font-size: 14px !important;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin: 0;
            }
        }
    }

    .work-section {
        padding: 120px 0;
        margin-bottom: 0;

        .title-content-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0%;
        }
    }

    .work-section.vision-section {
        padding: 0;
    }

    @media (max-width: 1200px) {
        .services-section .nav-pills {
            width: 40%;
        }
    }

    @media (max-width: 992px) {
        .hero-section .hero-title {
            font-size: 58px;
        }

        .services-section .nav-pills {
            width: 50%;
        }
    }

    @media (max-width: 768px) {
        .tab-wrapper {
            display: flex;
            flex-direction: column !important;
        }

        .services-section .nav {
            display: flex;
            flex-direction: row !important;
            width: 100% !important;
            max-width: 100% !important;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            scrollbar-width: none;
            padding: 12px;
        }

        .services-section .tab-content {
            width: 100%;
            max-width: 100%;
            margin-top: 10px;
        }

        .services-section p,
        .services-section li {
            font-size: 16px;
            line-height: 24px;
            color: #dadae4cc;
        }
    }

    @media (max-width: 684px) {
        .hero-section {
            padding: 20px 10px 10px;
        }
        .hero-section .hero-content-wrapper {
            padding-top: 22px;
            padding-bottom: 12px;
        }
        .hero-section .row {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        .hero-section .row div {
            width: 100%;
        }
        .hero-section .hero-title,
        .about-title {
            font-size: 36px;
        }
        .hero-subtitle {
            font-size: 22px;
            margin: 0px;
        }

        .about-section {
            padding: 50px 10px;
        }
        .about-content-wrapper {
            gap: 32px;
        }
        .schedule-section {
            padding: 52px 8px;
        }
        .schedule-section.skill-section .container .schedule-inner {
            padding: 26px 18px;
        }
        .schedule-section.skill-section .section-title {
            flex-wrap: wrap;
        }
        .services-section {
            padding: 58px 10px;
        }
        .services-section .nav {
            padding: 6px 12px;
        }
        .services-section ul li {
            align-items: center;
            margin-bottom: 15px;
        }
        .services-section ul li img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
            margin-top: 2px;
        }
        .schedule-section.skill-section .container .schedule-inner .d-wrap {
            flex-wrap: wrap;
        }
        .schedule-section.skill-section .section-title {
            width: 100%;
        }
    }
}
