.portfolio-page {
    .hero-section {
        background-image: url(../images/portfolio_hero_Pattern.svg);
        background-repeat: no-repeat;
        background-position: right;
        padding: 64px 0;

        .container {
            display: flex;
            flex-direction: column;
            gap: 64px;

            .row {
                position: relative;
                z-index: 11;
                gap: 40px;
                align-items: end;

                .hero-title-wrapper {
                    max-width: 756px;
                    width: calc(50% - 20px);
                    flex-grow: 1;

                    .hero-title {
                        width: 100%;
                        margin: 0;
                        font-weight: 500;
                        font-size: 63px;
                        line-height: 100%;
                        letter-spacing: -3%;
                        text-transform: capitalize;
                        color: #131313;
                    }
                }

                .hero-description-wrapper {
                    max-width: 434px;
                    width: calc(50% - 20px);
                    display: flex;
                    flex-direction: column;
                    gap: 64px;

                    .hero-description {
                        width: 100%;
                        margin-bottom: 0;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 140%;
                        letter-spacing: 0%;
                        color: #131313;
                    }
                }

                .skill-group-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin-bottom: 0;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 100%;
                        letter-spacing: -1%;
                        color: #131313;
                    }

                    .skill-name {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;

                        p {
                            border: 0.8px solid #d2d2d2;
                            border-radius: 60px;
                            padding: 16px 24px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            color: #131313;
                        }
                    }
                }
            }
        }
    }

    .showcase-section {
        padding: 420px 0 120px;
        background-color: #131313;
        margin-top: -280px;

        .row {
            gap: 56px;

            .project-left-wrapper,
            .project-right-wrapper {
                width: 100%;
                max-width: calc(50% - 28px);
                display: flex;
                flex-direction: column;
                gap: 64px;
                align-items: end;
            }

            .showcase-title-wrapper .showcase-title {
                width: 100%;

                h2 {
                    font-weight: 500;
                    font-size: 52px;
                    line-height: 100%;
                    letter-spacing: -3%;
                    text-transform: capitalize;
                    margin: 0;
                    color: #fff3ed;
                }
            }

            .project-wrapper {
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding: 0;

                .project-image img {
                    width: 100%;
                    border-radius: 8px;
                }

                .project-content-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .project-tag-wrapper ul {
                        display: flex;
                        margin: 0;
                        gap: 40px;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: -1%;
                        color: #d2d2d2;
                    }

                    .project-title-wrapper h3 {
                        margin: 0;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 100%;
                        letter-spacing: -2%;
                        text-transform: capitalize;
                        color: #fffefd;
                    }
                }
            }

            .showcase-description-wrapper {
                max-width: 417px;
                display: flex;
                flex-direction: column;
                gap: 42px;

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 0%;
                    color: #d2d2d2;
                    margin: 0;
                }
            }
        }
    }

    .platform-section {
        padding: 120px 0;
        margin-bottom: 0;
    }
}
